In [340]:
# We import the libraries that we will use
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import re

In [341]:
# We customize what we want to see
%matplotlib inline
%config Inlinebackend.figure_format= 'retina'
sns.set_context("poster")
sns.set(rc={"figure.figsize": (12.,6.)})
sns.set_style("whitegrid")

In [342]:
# We upload the data set, we call it "tiburon"
tiburon = pd.read_csv("data/attacks.csv",encoding = "ISO-8859-1")
tiburon

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [343]:
#We get the info of the database to see the Dtype of lements we have. This might come in handy later on
tiburon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [344]:
#we cleant the data by first changing all the columns name special characters and spaces into " _ ", 
# this way we wont have any issue when manipulating columns.
#we first make a list with all the original colums, then we print them to see what we want to clean
#on the secon line of code, we replace them and obtain a dictionary with the old names and new names.
#we check again and see if there is any other special character to be cleaned.
columnas = list(tiburon.columns)
print(columnas)
tiburon_two = {columna: columna.replace(" ", "_").replace(".", "_").replace(":", "").lower() for columna in columnas}
print(tiburon_two)

['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22', 'Unnamed: 23']
{'Case Number': 'case_number', 'Date': 'date', 'Year': 'year', 'Type': 'type', 'Country': 'country', 'Area': 'area', 'Location': 'location', 'Activity': 'activity', 'Name': 'name', 'Sex ': 'sex_', 'Age': 'age', 'Injury': 'injury', 'Fatal (Y/N)': 'fatal_(y/n)', 'Time': 'time', 'Species ': 'species_', 'Investigator or Source': 'investigator_or_source', 'pdf': 'pdf', 'href formula': 'href_formula', 'href': 'href', 'Case Number.1': 'case_number_1', 'Case Number.2': 'case_number_2', 'original order': 'original_order', 'Unnamed: 22': 'unnamed_22', 'Unnamed: 23': 'unnamed_23'}

In [345]:
# in this step we check the columns one by one to see that they are all understandable. 
#we can see that columns like "sex_" have an extra character that must be cleaned. This will be done manually
#It can also be done with Regex, but since its just a few, is faster manually
tiburon_two["Sex "] = "sex"
tiburon_two["Fatal (Y/N)"] = "fatal"
tiburon_two["Species "] = "species"

In [346]:
#we rename all columns from the dictionary tiburon_two into our dataset, calling it tiburon_renamed.
#we print the head to see that all columns have the correct number.
tiburon_renamed = tiburon.rename(columns=tiburon_two)
tiburon_renamed

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order,unnamed_22,unnamed_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [347]:
# we drop all duplicated rows, since we dont need duplicated data.
tiburon_renamed.drop_duplicates(inplace=True)

In [348]:
#We check the new shape
tiburon_renamed

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order,unnamed_22,unnamed_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [349]:
#Here we can sum all the nans inside the columns
tiburon_renamed.isna().sum()

case_number                  2
date                        10
year                        12
type                        14
country                     60
area                       465
location                   550
activity                   554
name                       220
sex                        575
age                       2841
injury                      38
fatal                      549
time                      3364
species                   2848
investigator_or_source      27
pdf                         10
href_formula                11
href                        10
case_number_1               10
case_number_2               10
original_order               3
unnamed_22                6311
unnamed_23                6310
dtype: int64

In [350]:
#as we can see, unnamed 22 and 23 have 99% of the elements as NaN, so we can drop them
tiburon_renamed.drop(["unnamed_22", "unnamed_23"],axis=1,inplace=True)

In [351]:
tiburon_renamed

,case_number,date,year,type,country,area,location,activity,name,sex,...,fatal,time,species,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [352]:
# I want to eliminate columns that are the same, mainly because they are useless and take extra space and proccesing time
# This step could had been done before changing the variable names, but I prefer it in this order. 
# All comparison follow the same structure: Check the shape of the dataframe (6312 rows) 
# and see if we get the same amount of rows betwen two columns

In [353]:
# This is a bit confusing but here it goes:
# 1) After seeing the data head i realized that Date and Case_numbers are all dates that looks the same.
# 2) What I did was to check which rows does case_number and cas_number_2 are not the same, and we got 14 rows
# 3) I displayed them next to date, case_number, case_number_1 and case_number_2 and see if those 14 rows are also dates and similar.
# 4) The conclusion is that all case_number are the same as date and should be drop
tiburon_renamed[["date","case_number","case_number_1","case_number_2"]][(tiburon_renamed["case_number"])!=(tiburon_renamed["case_number_2"])].sample(14)

                       date   case_number case_number_1 case_number_2
5488   Reported 06-Sep-1905           NaN  1905.09.06.R  1905.09.06.R
6304                    NaN             0           NaN           NaN
6309                    NaN             0           NaN           NaN
25722                   NaN            xx           NaN           NaN
390             10-Jul-2015    2015.07-10    2015.07.10    2015.07.10
6306                    NaN             0           NaN           NaN
6305                    NaN             0           NaN           NaN
6303                    NaN             0           NaN           NaN
8702                    NaN           NaN           NaN           NaN
5944               May-1864       1864.05    1864.05.00    1864.05.00
6302                    NaN             0           NaN           NaN
4949   Reported 08-Feb-1934  1934.01.08.R  1934.02.08.R  1934.02.08.R
6308                    NaN             0           NaN           NaN
6307                    NaN             0           NaN           NaN

In [354]:
# Since they al reflect date, we will erase all the case_number columns and leave only the date column
tiburon_renamed.drop(["case_number","case_number_1","case_number_2"],axis=1,inplace=True)

In [355]:
tiburon_renamed

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,time,species,investigator_or_source,pdf,href_formula,href,original_order
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0
6308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0
6309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [356]:
# I do this in order to see a cleaner dataframe
tiburon_renamed.sample(50)

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,time,species,investigator_or_source,pdf,href_formula,href,original_order
4247,20-Jul-1956,1956.0,Unprovoked,MALTA,St. Thomas Bay,Marsascala,Swimming,Jack Smedley,M,40,FATAL,Y,NaN,White shark,"V.M. Coppleson (1958), p.261; A. Xuereb; A. Bu...",1956.07.20-Smedley.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2056.0
2605,03-Mar-1991,1991.0,Unprovoked,AUSTRALIA,New South Wales,Bass Point,Scuba diving,John Puljak,M,18,Lacerations to arm & leg,N,NaN,"Grey nurse shark, 2 m","Sunday Advertiser, 3/5/1991, p.2",1991.03.03-Puliak.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3698.0
1173,11-Jan-2009,2009.0,Unprovoked,AUSTRALIA,New South Wales,Fingal Beach,Surfing,Jonathan Beard,M,31,Left thigh severely bitten,N,09h00,"White shark, 3.5m","T. Peake, GSAF",2009.01.11.a-Beard.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5130.0
1600,06-Apr-2005,2005.0,Invalid,HONDURAS,Bay Islands,Utila,SCUBA Diving,female,F,NaN,"Laceration on siide of calf, small laceration ...",NaN,NaN,Shark involvement not confirmed,"J. Engel, SRI & S. Fox, Deep Blue",2005.04.06.b-Utila.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4703.0
6301,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2.0
54,30-Dec-2017,2017.0,Unprovoked,USA,California,"Drakes Estero, Point Reyes, Marin County",Surfing,Natalie Jones,F,35,Foot bitten,N,12h00,NaN,R. Collier,2017.12.30.Jones.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6249.0
293,30-Mar-2016,2016.0,Unprovoked,AUSTRALIA,New South Wales,Bombo Beach,Surfing,Brett Connellan,M,22,Severe injury to thigh,N,19h00,NaN,"Daily Telegraph, 3/30/2016",2016.03.30-Connellan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6010.0
315,24-Jan-2016,2016.0,Boating,UNITED ARAB EMIRATES,Fujairah Emirate,35 miles off Fujairah,Fishing,Occupants: Hamza Humaid Al Sahraa & 5 crew,M,NaN,"No injury to occupants, shark leapt into boat",N,NaN,Mako shark,"Gulf News, 1/25/2016",2016.01.24.a-UAEboat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5988.0
1053,09-Jan-2010,2010.0,Unprovoked,VIETNAM,Binh Dinh Province,Quy Nhon,NaN,female,F,NaN,Minor injuries,N,NaN,NaN,"C. Eksander, GSAF",2010.01.09.c-woman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5250.0
3721,21-Dec-1963,1963.0,Provoked,AUSTRALIA,New South Wales,"Woolgoolga, Coffs Harbour",Fishing,Leslie Cook,M,NaN,7 puncture wounds in right forearm from hooked...,N,NaN,"Wobbegong shark, 3'","Daily Examiner (Grafton, NSW), 12/23/1963; J. ...",1963.12.21-Cook.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2582.0
5926,1868 (?),1868.0,Unprovoked,NEW ZEALAND,North Island,"Brickfield Bay, Auckland Harbour",Bathing close inshore,Cook,M,NaN,Thigh bitten,N,NaN,"""Shark caught later""",V.M. Coppleson (1958) (May refer to Thomas Co...,1868.00.00.a-Cook.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,377.0
162,10-Apr-2017,2017.0,Unprovoked,USA,Florida,"Melbourne Beach, Brevard County",Swimming,Heather Orr,F,21,Minor injury to left hand,N,17h00,NaN,"Brevard Times, 4/10/2017",2017.04.10.a-Orr.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6141.0
1619,16-Dec-2004,2004.0,Unprovoked,AUSTRALIA,South Australia,"West Beach, Adelaide",Scurfing (surfboard being towed behind a boat),Nick Peterson,M,18,FATAL,Y,15h15,4.5 m & 5 m white shark,"P. Kemp & T. Peake, GSAF",2004.12.16-Peterson-draft.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4684.0
1247,21-Jun-2008,2008.0,Boating,USA,California,"West Cove, Catalina Island",Kayaking,Bettina Pereira,F,40,"No injury. Shark bumped kayak, flinging her i...",N,09h00,"White shark, 15'","R. Collier, GSAF",2008.06.21-Pereira.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5056.0
5531,Reported 24-Aug-1902,1902.0,Boating,CROATIA,Istria County,Porec,Fishing,Row boat; occupants - 2 young men,M,NaN,"No injury to occupants, shark grabbed anchor r...",N,NaN,NaN,"C. Moore, GSAF",1902.08.24.R-Croatia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,772.0
3807,19-Jul-1962,1962.0,Provoked,USA,California,30 miles south of San Clemente Island,Fishing for albacore,Esteban L. Cervantes,M,19,"2 lacerations on left hand by hooked shark, PR...",N,16h30,Blue shark,"R. Zarkas; San Diego Union, 7/30/1962",1962.07.19-Cervantes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2496.0
773,26-Jun-2012,2012.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,26,Nip to left foot,N,15h00,NaN,"H. Frederick, Headline Surfer, 6/26/2012",2012.06.26.b-NewSmyrnaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5530.0
3563,13-Aug-1966,1966.0,Unprovoked,ITALY,Taranto province,"Pulsano, near Taranto",Attacked shark with fists,Cosimo Piccinni,M,21,Arm lacerated,N,NaN,"""small shark""",Evening Standard (London) 8/13/1966; Sunday Ex...,1966.08.13-CosimoPiccinni.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2740.0
4019,21-Jan-1960,1960.0,Boat,AUSTRALIA,South Australia,Millicent,NaN,"13' dinghy, occupant S. Smith, Leenee Dee & Ma...",NaN,NaN,"No injury to occupants, shark lifted boat",N,NaN,Blue pointer,Hobart Mercury 1/22/1960,1960.01.21 - Smith dinghy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2284.0
2033,15-Jul-2000,2000.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Cape Recife,Surfing,male,M,18,"No injury, flung off board",N,NaN,NaN,"A. Gifford, GSAF",2000.07.15.b-NV-CapeRecife.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4270.0
4502,28-Aug-1949,1949.0,Unprovoked,AUSTRALIA,Queensland,Yorkeys Knob Beach near Cairns,Swimming,Brian Ware (rescuer),M,21,Abdomen & chest abraded,N,13h20,NaN,"V.M. Coppleson (1958), p.89",1949.08.28.b-Ware.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1801.0
5542,01-Dec-1901,1901.0,Unprovoked,AUSTRALIA,Queensland,Brisbane,Bathing,William Quince,M,10,Lacerations to torso & thigh,N,NaN,NaN,"The Argus, 12/2/1901",1901.12.01-Quince.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,761.0
4637,25-Oct-1944,1944.0,Sea Disaster,PHILIPPINES,Off Samar Island in the Gulf of Leyte,NaN,USS Johnston DD 557 sunk on 10/24/1944 in the ...,"William Clinton Carter, Jr. & 2 other men",M,NaN,"Clinton was bitten on his back, 2 others did n...",Y,NaN,NaN,"Abiline Reporter News, 12/29/1944",1944.10.25.b-Carter.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1666.0
5847,13-Feb-1878,1878.0,Sea Disaster,SOUTH AFRICA,Western Cape Province,Olifantbos Point,Wreck of the Union Steamship Company 982-ton i...,An Arab who had been with Stanley when he met ...,M,NaN,"FATAL, shark removed large part of his hip",Y,NaN,NaN,"M. Levine, GSAF; Times of Natal, 3/15/1878",1878.02.13-Kafir.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,456.0
6150,Reported 27-Oct-1753,1753.0,Unprovoked,JAMAICA,NaN,Kingston Harbor,Fell overboard,male,M,NaN,FATAL,Y,NaN,NaN,"Maryland Gazette, 1/31/1754",1753.10.27.R-Jamaica.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,153.0
758,31-Jul-2012,2012.0,Unprovoked,AUSTRALIA,South Australia,Streaky Bay,Surfing,John Campion,M,48,Lacerations to torso & arm,N,14h40,White shark or bronze whaler,"T. Conlin, Adelaide Now, 7/31/2012",2012.07.31.a-Campion.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5545.0
4761,10-Dec-1940,1940.0,Provoked,AUSTRALIA,Northern Territory,Darwin,Collecting fish in military trap when bitten b...,Private. Michael Garten,M,NaN,Leg severely lacerated PROVOKED INCIDENT,N,NaN,NaN,"V.M. Coppleson; G.P. Whitley (1951), p. 192",1940.12.10-Garten.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1542.0
4732,03-Dec-1941,1941.0,Unprovoked,AUSTRALIA,Western Australia,Carnarvon,Swimming,Ron Graham,M,10,Right ankle bitten,N,Night,NaN,"The West Australian, 12/11/1941",1941.12.03-Graham.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1571.0
4971,14-Feb-1933,1933.0,Boating,AUSTRALIA,South Australia,Adelaide,NaN,boat,NaN,NaN,No injury to occupants. Shark leapt into boat ...,N,NaN,NaN,"G.P. Whitley citing Sydney Morning Herald, 2/1...",1933.02.14-Shark-leaps-in-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1332.0
1582,04-Jun-2005,2005.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Miller's Point,Spearfishing (Free diving),Henri Murray,M,22,FATAL,Y,15h45,White shark,News24.com; SABC; H. Steele,2005.06.04-HenriMurray.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4721.0
857,02-Oct-2011,2011.0,Unprovoked,USA,Florida,"Santa Maria Island, Manatee County",Wade fishing,Javier Perez,M,NaN,Minor injury to thigh,N,Afternoon,NaN,"Herald Tribune, 10/2/2011",2011.10.02-Perez.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5446.0
6284,Before 1911,0.0,Unprovoked,VIETNAM,Ba Ria-Vung Tau Province,V?ng Tàu,Swimming around anchored ship,crewman,M,NaN,Foot bitten,N,NaN,NaN,"Daily Kennebec Journal, 3/27/1911",ND-0018-Vietnam.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,19.0
2668,29-Aug-1989,1989.0,Provoked,AUSTRALIA,Queensland,SeaWorld Theme Park,Feeding fish,Mike Richardson,M,30,Left leg bitten by captive shark ...,N,Afternoon,Grey nurse shark,"The Canberra Times, 9/1/1989",1989.08.29-Richardson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3635.0
2335,11-Oct-1995,1995.0,Unprovoked,AUSTRALIA,Queensland,"Pialba, Hervey Bay",Playing / standing,Lisa Mott,F,15,Laceration to thigh,N,14h30,4 m shark,"Herald Sun, 10/12/1995, p.9",1995.10.11-Mott.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3968.0
5189,08-Feb-1924,1924.0,Invalid,AUSTRALIA,Queensland,Currumbin,Bathing,Frederick Dullroy,M,NaN,Probable drowning & scavenging,NaN,16h00,Shark involvement prior to death unconfirmed,11/02/1924,1924.02.08-Dullroy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1114.0
2475,09-Sep-1993,1993.0,Unprovoked,USA,Florida,"Little Talbot Island, Jacksonville, Duval County",NaN,Jerry McInarnay,M,16,Left foot bitten,N,NaN,NaN,"Orlando Sentinel, 9/17/1993, p. B.6",1993.09.09-McInarnay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3828.0
3303,26-Mar-1973,1973.0,Unprovoked,AUSTRALIA,Queensland,Palm Island,NaN,Stuart Baddock,M,NaN,Survived,N,NaN,NaN,"R. McKenzie, Sunday Mail, 9/6/1987, p.11",1973.03.26-Baddock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3000.0
4996,08-Feb-1932,1932.0,Unprovoked,PHILIPPINES,Manila,Fort Mills,Working near fish traps,Filipino soldier,M,NaN,"FATAL, died next day at 03h00",Y,NaN,NaN,J.F. Corby,1932.02.08-PhilippineSoldier.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1307.0
1141,27-Mar-2009,2009.0,Provoked,SOUTH AFRICA,Eastern Cape Province,2-3 km north of Sunday's River mouth,Fishing,Tony Dell,M,59,Calf bitten while helping angler measure the s...,N,NaN,Raggedtooth shark,"The Herald (Port Elizabeth), 3/27/2007",2009.03.27-TonyDell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5162.0
3347,23-Dec-1971,1971.0,Unprovoked,AUSTRALIA,New South Wales,Smokey Cape,NaN,G. Byron,NaN,22,Survived,N,NaN,NaN,"J. Green, p.36",1971.12.23-Byron.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2956.0
3996,22-Apr-1960,1960.0,Provoked,AUSTRALIA,Western Australia,Rottnest Island,"Fishing, hauling in a set line",Ted Nelson onboard fishing boat Wayfarer,M,NaN,4 fingers of left hand were lacerated by shark...,N,NaN,"Bronze whaler shark, 3 m [10'], 200-lb","L. Schultz & M. Malin, p.546",1960.04.22-Nelson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2307.0
6024,Reported 16-Jun-1851,1851.0,Unprovoked,MEXICO,Oaxaca,Tehuantepec Harbor,Bathing,John H. Gray & another member of the Tehuantep...,M,NaN,FATAL,Y,NaN,NaN,"Daily Free Democrat (Milwaukee, WI) 6/16/1851",1851.06.16.R-JohnGray.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,279.0
1670,22-May-2004,2004.0,Invalid,USA,Florida,St. Augustine St. Johns County,Swimming,male,M,9,Single puncture wound on the foot,NaN,NaN,Shark involvement not confirmed,"T. Jerome, GSAF",2004.05.22.c-male.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4633.0
3126,05-Mar-1978,1978.0,Boat,SOUTH AFRICA,Eastern Cape Province,"Gulu Deep, East London",NaN,"6 m skiboat, occupants: P.A. Reeder & crew",NaN,NaN,No injury to occupants; shark rammed boat 4 ti...,N,NaN,NaN,GSAF,1978.03.05-GuluDeep.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3177.0
2976,01-Jul-1982,1982.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Swimming,Janet Babb,F,19,Laceration to left leg,N,14h30,NaN,"Daytona Beach Morning Journal, 7/2/1982",1982.07.01-Babb.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3327.0
5330,Reported 04-Dec-1914,1914.0,Unprovoked,AUSTRALIA,Queensland,Magnetic Island,Swimming,A. Steinstecke,M,NaN,Lacerations to right thigh and knee,N,NaN,NaN,"Northern Miner, 12/4/1914",1914.12.04.R-Steinstecke.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,973.0
1536,21-Oct-2005,2005.0,Unprovoked,USA,California,"Klamath River mouth, Del Norte County",Surfing,Chad Reiker,M,36,No injury,N,11h00,White shark,"R. Collier, GSAF",2005.10.21-Reiker.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4767.0
3386,Sep-1970,1970.0,Unprovoked,USA,Florida,Pinellas County,Scuba diving,male,M,NaN,Calf / knee injured?,N,NaN,NaN,SAF Case #1485,1970.09.00.a-NV-male.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2917.0
1651,28-Jul-2004,2004.0,Unprovoked,USA,North Carolina,"Rodanthe, Dare County",Surfing,Catherine Delneo,F,28,Right calf bitten,N,17h30,NaN,"C.Delneo, C. Creswell, M. Levine, R. Collier, ...",2004.07.28-Delneo.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4652.0
1661,26-Jun-2004,2004.0,Invalid,AUSTRALIA,Western Australia,Floreat Beach,Crayfishing,Gavin Duncan,M,NaN,"No injury, shark made threat displays & diver ...",NaN,NaN,Invalid,"T. Peake, GSAF; Sunday Times (Perth) 6/27/200...",2004.06.26.a-Duncan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4642.0

In [357]:
#here i count the amount of NaN that i have in each column
tiburon_renamed.isna().sum()

date                        10
year                        12
type                        14
country                     60
area                       465
location                   550
activity                   554
name                       220
sex                        575
age                       2841
injury                      38
fatal                      549
time                      3364
species                   2848
investigator_or_source      27
pdf                         10
href_formula                11
href                        10
original_order               3
dtype: int64

In [358]:
#I decided to drop all the columns that i wont use in my hypothesis
tiburon_clean = tiburon_renamed.drop(["species","time","original_order","href","href_formula","pdf"],axis=1)

In [363]:
#By making these lines of code, I can erase all the columns and rows where all values are NaN
tiburon_clean.dropna(axis=0, how='all',inplace=True)
tiburon_clean.dropna(axis=1, how='all',inplace=True)

In [367]:
#In this loop i can check the unique values of each column
# I then print al lvalues and see which function il lcreate to clean further
for i in tiburon_clean.keys():
    
    print(i, len(list(tiburon_clean[i].unique())))

date 5433
year 250
type 9
country 213
area 826
location 4109
activity 1533
name 5231
sex 7
age 158
injury 3738
fatal 9
investigator_or_source 4970

In [392]:
set(list(tiburon_clean["date"].unique()))

{'Reported 11-Sep-1994',
 '31-Jul-2017',
 '12-July-1913',
 '12-Aug-1991',
 '29-Apr-2015',
 '28-Sep-1985',
 '07-Apr-1926',
 '24-Jan-2009',
 '1896',
 ' 04-Sep-2010',
 '27-Dec-1948',
 '17-Sep-1976',
 '08-Dec-1963',
 'Oct-1953',
 '27-Jan-1964',
 '20-Sep-1964',
 '27-Sep-2002',
 '01-Oct-2010',
 '30-Jun-2011',
 '05-Jan-2013',
 '05-Dec-2011',
 '20-Dec-2002',
 '26-Jun-1936',
 '1912',
 '29-Sep-2006',
 '26-Jan-1910',
 '05-Apr-2004',
 '09-Mar-1937',
 '23-Jan-1965',
 '09-Oct-2015',
 '04-Sep-2015',
 '08-Jun-1998',
 '24-May-1844',
 'Jan-1985',
 '04-Jul-2016',
 '26-Aug-1962',
 '16-Jul-2014',
 '26-Apr-1998',
 '08-Jul-2006',
 '31-Dec-1972',
 '18-May-2001',
 'Reported 22-Apr-1830',
 '13-Jan-2012',
 '19-Dec-1981',
 '14-Dec-1999',
 '09-Jun-1965',
 '02-Sep-1974',
 '07-Feb-2009',
 '13-Mar-1975',
 '19-Mar-1936',
 '25-Sep-1971',
 '05-Feb-2015',
 'Oct-1965',
 '21-Aug-2004',
 'Reported 26-Nov-1885',
 '31-Aug-2014',
 '09-Mar-1961',
 '08-Sep-2004',
 '15-May-1961',
 '09-Dec-2017',
 '25-Oct-1962',
 '13-Apr-1995',
 '21-May-2002',
 '03-Apr-2015',
 '29-Apr-1895',
 'Jul-1959',
 'Reported 03-Jun-1895',
 '25-Feb-2012',
 '05-Jan-1929',
 '27-Jan-2008',
 '11-Aug-2007',
 '02-Jan-1938',
 '24-Jun-1994',
 '10-Jun-2010',
 '04-Oct-1849',
 '10-Jun-1914',
 '21-Sep-1917',
 '08-Mar-1992',
 '15-Jul-1983',
 '24-Jun-2003',
 '20-Oct-2011',
 '1923-1924',
 '14-Jan-1949',
 '14-Oct-1989',
 'Reported 27-Apr-1931',
 '10-May-1948',
 '30-Aug-1965',
 '  28-Jan-1877',
 'Sep-1998',
 '10-Oct-1947',
 '19-Sep-1966',
 'Reported 09-Jan-1958',
 '26-Aug-1979',
 '05-Apr-1962',
 '06-Sep-2008',
 '19-Jul-1922',
 '24-Dec-2016',
 '07-Mar-2008',
 '17-Mar-1993',
 '18-Dec-1967',
 '22-Aug-1921',
 '18-Dec-2006',
 '21-Jun-1903',
 '27-Nov-2003',
 '03-Apr-1961',
 '28-Dec-1965',
 '1900-1905',
 '06-Jun-1989',
 'Aug-1936',
 '12-Aug-1864',
 '25-Aug-2001',
 '25-Aug-1956',
 '31-May-1944',
 '20-Jan-1906',
 '28-Dec-1940',
 '19-Jun-1999',
 '27-Apr-2017',
 'Reported 05-Jul-1906',
 '03-Nov-2015',
 'Dec-1947',
 'Reported 28-Jun-2012',
 '1898.01.24',
 '18-Mar-1986',
 'Ca. 1970',
 'Jan-1936',
 '17-Jan-1909',
 '05-Sep-1985',
 'June 1874',
 'Feb-2007',
 '18-Jul-1981',
 'Late Aug-1962',
 '26-Jul-1974',
 '22-May-2011',
 '14-Aug-1997',
 '30-Jan-1981',
 '30-Dec-1957',
 '31-Mar-1960',
 'No date, Before Aug-1987',
 '5-Jul-1970',
 'Reported 06-Apr-1738',
 '06-Oct-2005',
 '02-Sep-1996',
 '10-Nov-1916',
 '18-Dec-1994',
 '19-Jun-2000',
 '25-Jun-1950',
 '28-Jul-1962',
 '03-Mar-1991',
 '29-Nov-1951',
 '13-Apr-1963',
 '23-Jul-2017',
 '13-Jun-2005',
 '19-Jun-2003',
 '27-Dec-2016',
 '28-Nov-2008',
 '28-Sep-1974',
 '27-Jun-2010',
 'Reported 26-Sep-t937',
 'Reported 01-Nov-1902',
 '03-Sep-1925',
 '15-Jul-2004 ',
 '19-Sep-1982',
 'Ca. 1940',
 '29-Jun-1920',
 '18-Jun-2013',
 '16-Jan-1956',
 '15-Jun-2013',
 '23-Feb-2018',
 '1961',
 '14-May-1882',
 '1845-1853',
 '18-May-1995',
 '02-Mar-1943',
 '15-Aug-1987',
 '14-Jun-2004',
 'Reported 03-Dec-2014',
 '1950',
 '16-Jan-1996',
 '15-Nov-2005',
 '29-Jul-2009',
 '11-Nov-1984',
 'Reported 27-Jan-1925',
 'Reported 07-Sep-1876',
 '31-Aug-2012',
 '05-Apr-1959',
 '08-Apr-2016',
 'Reported 26-Dec-2011',
 '01-Aug-1939',
 ' 25-Aug-2013',
 '27-Jan-1967',
 '10-Mar-1967',
 '27-Feb-1944',
 '24-Jun-1997',
 '24-Nov-2005-',
 '18-Dec-1961',
 '12-Nov-2003',
 '07-Jan-2006',
 '07-Jul-1937',
 'Reported 16-Apr-1994',
 '25-Jul-1936',
 '27-Jan-1969',
 '25-Nov-1950',
 'Late 1960s',
 'Apr-1863',
 '21-Jul-1999',
 '1888',
 '09-Oct-2017',
 '04-Aug-2016',
 'Reported 09-Jan-1970',
 '26-Apr-2007',
 '21-Oct-1997',
 '10-Sep-2017',
 '24-Oct-2016',
 '05-Dec-2010',
 '01-Sep-1974',
 '06-Feb-1856',
 '02-Dec-1923',
 '17-Nov-2000',
 'Reported 21-Jun-1856',
 '1864',
 '25-Jan-1959',
 '13-Aug-1968',
 '08-May-2001',
 '10-Feb-1964',
 '10-Aug-1995',
 '25-Mar-1969',
 '16-Jan-2013',
 '09-Jan-1973',
 '13-Feb-1924',
 'Jul-1984',
 '26-May-2018',
 '22-Jan-1888',
 '27-Aug-2001',
 '16-Aug-1949',
 '06-Dec-1986',
 '15-Jan-1919',
 '21-Jan-1928',
 '01-Jan-1940',
 '28-Aug-2012',
 ' 22-Sep-1879',
 '09-Mar-1967',
 'Reported 15-Dec-1956',
 '06-Apr-1905',
 '20-Apr-2002',
 '10-Feb-2016',
 '02-Jul-2015',
 '19-Dec-1977',
 '21-Jan-1973',
 '02-Mar-1943 to 07-Mar-1943',
 '07-Jul-1914',
 '23-Jul-1992',
 '15-Jan-1955',
 '30-Jan-1954',
 '11-Sep-1942 to 16-Sep-1942',
 '24-May-2018',
 '24-May-1995',
 '02-Oct-1959',
 '19-Dec-1989',
 'Reported 29-Aug-1871',
 '19-Dec-1936',
 '03-Sep-1944',
 '21-Jan-2004',
 '06-Sep-2015',
 '23-Jan-2009',
 '15-Jan-1920',
 '21-Jun-2008',
 '28-Feb-1978',
 '28-Apr-1957',
 'Jan-1998',
 ' 08-Jul-1958',
 '08-Feb-1932',
 '13-Apr-1957',
 '1791',
 'No date, Before Aug-1989',
 '01-Jan-1964',
 'Reported 01-May-1911',
 '30-Dec-1967',
 '18-Oct-1998',
 'Reported 15-Apr-1893',
 'May-17-1803',
 '07-Dec-2007',
 '09-Jun-2001',
 '18-Mar-1923',
 '05-Mar-1995',
 '21-Nov-1874',
 '01-Oct-1998',
 '18-Nov-1928',
 '10-Aug-1974',
 '20-Feb-1940',
 'Reported 03-Sep-1953',
 '01-Jun-2008',
 '28-Jun-1991',
 'Mid Aug-1966',
 '22-Aug-2015',
 '07-Jul-1936',
 '14-Mar-1966',
 '29-Aug-1996',
 '13-Sep-2017',
 '17-Feb-1986',
 '08-Jul-1964',
 '28-Apr-1996',
 '13-Sep-2001',
 '22-Apr-1980',
 'Reported 06-Sep-1961',
 'Apr-1970',
 '10-Aug-1967',
 '28-Jun-1932',
 '02-Sep-2011',
 '23-Mar-2001',
 'Reported 14-Feb-1975',
 '05-Sep-1990',
 'Jun-1951',
 '19-Jan-2005',
 '28-Mar-1960',
 '15-Aug-2011',
 '07-Aug-2002',
 '04-May-2011',
 '23-Feb-2006',
 '30-Sep-1982',
 '30-Jun-2015',
 '18-Jun-1924',
 'Reported 26-Jan-1867',
 '31-May-1992',
 ' 01-Dec-1979',
 '04-Jan-1911',
 '18-Jan-1962',
 'Reported 03-Dec-2010',
 '27-Jan-1958',
 '18-Aug-2008',
 '17-Oct-1980',
 '29-Jun-2011',
 '12-Sep-2009',
 'Reported 15-Jun-1981',
 '12-Oct-1907',
 'Reported 11-Sep-1896',
 '30-Oct-2015',
 '10-Jan-1863',
 '02-Oct-1971',
 'Reported 20-Dec-1998',
 '11-Dec-1894',
 '10-Oct-2013',
 '20-Nov-2000',
 ' 13-Aug-2013',
 '15-Jul-2011',
 '14-Jan-1998',
 '15-Aug-2004',
 '04-Feb-1963',
 '30-Nov-2010',
 '25-Dec-1968',
 '26-Apr-1977',
 '27-Feb-1954',
 '11-Nov-1992',
 '23-Jan-2015',
 '29-Aug-1960',
 'Reported 24-Oct-1888, but took place around 1868',
 '11-Jun-2016',
 '17-Jan-1946',
 'Reported 25-Jul-1905',
 '22-Jun-2012',
 '25-Sep-2012',
 '03-May-1959',
 '23-Oct-1971',
 '26-Dec-1929',
 'Late 1970s',
 '01-Dec-1994',
 '15-Jul-1999',
 '03-Apr-1989',
 '09-Dec-1962',
 '30-Dec-1962',
 'Reported 25-Mar-1892',
 'Sep-2014',
 '21-Oct-2008',
 'No date, Before 1963',
 '10-Sep-1847',
 '04-Sep-2007',
 '23-Nov-1939',
 '09-Jan-2010',
 '21-Jul-1996',
 '13-Dec-2013',
 '09-Apr-2000',
 '19-Mar-1879',
 '11-Dec-2006',
 'Before 2003',
 'Sep-1805',
 '12-May-2017',
 '10-Oct-1993',
 '11-Mar-1847',
 '13-May-2000',
 '05-Nov-1985',
 '25-Mar-1962',
 '24-Apr-2013',
 'May 1979',
 '14-Nov-1958',
 'Reported 04-Nov-1957',
 '31-Dec-2011',
 '5-Jul-1975',
 '27-Feb-2006',
 '22-Oct-1951',
 'Ca . 1825',
 'Mar-1948',
 '25-Apr-1980',
 '18-Feb-1944',
 '10-Jun-2000',
 '12-Jun-2012',
 '1876',
 '16-Feb-1946',
 '14-Jul-1920',
 'Reported 19-Dec-1950',
 '23-Sep-1956',
 '24-Nov-1924',
 '05-Jul-1787',
 '21-Nov-1924',
 '21-Dec-1972',
 'Reported 17-Dec-1896',
 '08-May-1964',
 '13-Feb-1886',
 '12-May-2009',
 '23-Aug-2011',
 'Jun-1993',
 '23-Feb-1998',
 '10-Jul-1905',
 '12-Mar-1887',
 '27-Aug-2014',
 '31-Oct-2013',
 '27-May-2013',
 '05-Dec-1948',
 '18-Feb-1962',
 '26-Jan-2014',
 '08-Aug-1878',
 '24-Feb-1963',
 '06-Jan-1967',
 '24-Aug-2011 ',
 '5-Feb-1970',
 '24-Dec-2005',
 '11-Jan-2006',
 '10-Jan-2009',
 '30-Oct-1990',
 '06-Sep-1969',
 '02-Aug-1997',
 '16-Apr-1961',
 '03-Jul-1927',
 '27-Oct-2003',
 '13-Jan-1915',
 '27-Jul-2008',
 '1999',
 '12-Apr-2009',
 'Dec-1968',
 'Reported 27-Jul-1947',
 '17-Dec-1967',
 '16-Jun-2005',
 'Feb-1981',
 '06-Sep-2016',
 '25-Apr-1996',
 '1980',
 '09-May-2015',
 '07-Feb-1960',
 '20-Jun-1956',
 '16-Dec-2004',
 '23-Oct-1934',
 '25-Nov-1942',
 '11-Nov-1985',
 '28-Jul-2007',
 '26-Feb-1939',
 '15-May-1937',
 '29-Jun-1964',
 'Reported 11-Sep-1936',
 'May-2003',
 '1820s',
 '15-Jul-2000',
 '04-Dec-1943',
 '04-Apr-1928',
 '04-Jun-2005',
 '06-Apr-1952',
 'Reported 15-Dec-1909',
 '03-Apr-1916',
 '27-Sep-1981',
 '25-Mar-1981',
 '25-Nov-1941',
 'Reported 10-May-2014',
 'Reported 25-Feb-1883',
 '10-Mar-1992',
 '22-Jun-2003',
 '16-May-1966',
 '26-May-1974',
 '26-Jul-1916',
 'Before Feb-1998',
 '  02-Jun-1899',
 'Reported 04-Feb-2011',
 'Reported 20-Jun-1892',
 '06-Aug-2009',
 '1853 or 1854',
 '06-Apr-1947',
 'Reported 09-Jul-1863',
 '17-Nov-1980',
 'Jul-1943',
 '26-Jul-2002',
 '02-Sep-2009',
 '23-Jun-2016',
 '28-Dec-1992',
 '26-Aug-1991',
 '06-26-1890',
 '16-Jan-2009',
 '02-Sep-1948',
 '28-Sep-1981',
 '1881',
 '03-May-2015',
 '19-Mar-2002',
 'Reported 01-Jul-1954',
 '11-Aug-1996',
 '23-Mar-1994',
 '10-Jul-1958',
 '31-Jul-2011',
 '22-Feb-1934',
 '31-Mar-2015',
 '22-Jan-1967',
 'Late Jul-1900',
 '29-Dec-1976',
 '23-Jul-1912',
 '02-Apr-2002',
 '26-Aug-1964',
 '23-Jan-1992',
 '08-Sep-2001',
 '11-Jul-1963',
 '09-Jun-1997',
 'Summer 1980',
 '03-Sep-2017',
 '28-Sep-1988',
 '30-May-2010',
 '24-May-2007',
 '  29-Jul-2013',
 '26-Dec-1942',
 '26-Dec-1957',
 '14-Jul-1997',
 'Reported 16-Dec-1908',
 'Jan-1913',
 '05-Oct-1994',
 '03-Dec-1882',
 '27-Jun-1960',
 '05-Feb-1964',
 '26-Feb-1996',
 '25-Aug-1960',
 '2003?',
 '17-Feb-1961',
 '15-Jul-2016',
 '30-Oct-2004',
 '23-Feb-1962',
 'Reported 1637',
 '09-Jul-2006.',
 '30-Jun-1916',
 'Reported 28-Mar-1924',
 'Reported 04-May-1899',
 '19-Oct-1966',
 'Reported 02-Jan-1961',
 'Jun-1954',
 '19-Oct-1981',
 '09-Jul-2002',
 '06-Mar-2009',
 '01-Sep-1967',
 '19-Jun-1992',
 '1910',
 '16-Mar-1859',
 ' 18-Nov-1948',
 '14-Jan-2007',
 'Late May 1993',
 '13-Dec-1929',
 'Reported 09-Oct-1852',
 '13-Apr-2011',
 '24-Mar-1939',
 '18-Aug-1938',
 '12-Sep-2003',
 'Said to be 1941-1945, more likely 1945',
 '02-Jan-1971',
 '19-Apr-2009',
 '07-Jan-2007',
 '13-Sep-2003',
 'Reported 30-Dec-1919',
 'Reported 08-Jun-1942',
 '07-Oct-2001',
 '21-Dec-1929',
 '25-Jul-2001',
 'Ca. 1911',
 '19-Jul-1847',
 'May 1956',
 '01-Apr-1934',
 '20-Sep-1955',
 '29-Jun-1960',
 'Apr-1960',
 '16-Oct-1881',
 '15-Aug-2000',
 '10-Aug-2000',
 '16-Dec-2009',
 ' 07-Apr-1877',
 '18-Oct-2009',
 '03-Jul-1893',
 '29-Aug-1962',
 '01-Sep-2009',
 '13-Feb-1982',
 'Mar-1955',
 '28-Sep-1922',
 '12-Jan-2010',
 '06-Oct-2004',
 '11-Jan-1976',
 '04-Jun-1960',
 '1982',
 '11-Jan-2009',
 '18-Jun-1935',
 'Reported 16-Jul-1911',
 'Reported 10-Sep-1973',
 '15-Feb-1989',
 '13-Feb-2010',
 '25-Nov-1992',
 '19-Aug-1988',
 '05-Jan-2010',
 '25-Apr-2015',
 'Dec-1949',
 '06-Jun-1923',
 '12-Jul-1997',
 '13-Jun-2015',
 'Reported 31-Aug-1962',
 'Jul-1848',
 '4-Feb-1940',
 '19-Sep-1945',
 '20-Jun-2012',
 'Reported 1776',
 '11-Feb-1937',
 'Feb-1947',
 'Reported 02-Apr-2013',
 '22-Sep-1948',
 '12-Mar-1929',
 '13-Sep-1992',
 '1642',
 '20-Jan-1953',
 '19-Dec-1959',
 'Apr-1947',
 '21-Dec-1928',
 'Reported 18-Sep-1840',
 '10-May-2002',
 'Reported 24-Jun-1928',
 '24-Nov-1973',
 '29-Mar-1915',
 '26-Aug-1999',
 '15-Jun-1970',
 '19-Jan-2012',
 '10-Sep-1999',
 '10-Nov-2014',
 '1883-1889',
 '1942',
 '15-Jun-1945',
 '24-Sep-2017',
 '27-Oct-1971',
 '12-Feb-2011',
 '1963',
 '06-Jan-1988',
 'Aug-1871',
 '23-Apr-1895',
 'Reported 16-May-1910',
 'Reported 27-Jan-2009',
 'Before 2016',
 '07-Jul-2009',
 '24-Nov-1910',
 '17-Jul-2005',
 '22-Mar-1993',
 'Sep-1992',
 '15-Aug-1993',
 '24-Aug-1946',
 '12-Oct-1921',
 '19-Sep-2011',
 '27-Jan-1959',
 '28-Jan-1906',
 '12-Sep-1965',
 '27-Dec-1900',
 '14-Dec-2007',
 '18-Aug-2010',
 '14-Apr-2018',
 'Reported 12-Nov-1959',
 '24-Dec-1983',
 'Reported 28-Mar-1928',
 '09-Oct-1994',
 'Apr-1944',
 '10-Apr-2001',
 '16-Apr-2011',
 '29-Jun-1983',
 '22-Feb-2016',
 '25-Mar-2005',
 'Reported 16-Sep-1998',
 '16-Apr-1991',
 '12-Jul-1926',
 '08-Sep-2015',
 'Oct-1927',
 '24-Jun-1961',
 '04-Sep-1954',
 '21-Dec-2011',
 '24-Jun-2011',
 '15-Jun-1975',
 'Nov-1991',
 'Reported 24-Oct-1878',
 '20-Jun-1934',
 '27-Mar-2009',
 'Reported 08-Aug-1907',
 '11-Feb-1984',
 '24-Oct-1970',
 '27-Aug-1967',
 '03-Sep-1981',
 '27-Nov-2010',
 '19-Sep-1976',
 '14-Jul-1862',
 '28-Jul-2016',
 '01-Feb-1975',
 '27-Mar-1860',
 '31-Aug-1977',
 '06-Oct-1976',
 'Reported 28-Oct-2011',
 '16-Mar-1931',
 'Reported 02-Jun-1958',
 '1917',
 '08-Feb-1929',
 '04-May-1988',
 '29-Jan-2016',
 '12-Mar-1993',
 '18-Apr-2016',
 '20-Aug-1961',
 '10-Jun-2001',
 '06-Feb-1967',
 '27-Sep-2007',
 '30-Aug-1912',
 '15-Dec-2014',
 '11-Mar-2017',
 '24-Jul-1909',
 '29-Aug-2001',
 '29-Aug-2010',
 '27-Nov-1913',
 '14-Feb-1964',
 '12-Oct-2014',
 '30-Nov-1984',
 '14-Jan-1947',
 '18-Jun-2014',
 'Reported 09-Apr-1909',
 '19-Jul-2007.b',
 '02-Jan-2016',
 '29-Aug-1992',
 'Late Jul-2008',
 '1968',
 '1886',
 '10-Mar-2015',
 'Late Aug-1905',
 '02-Apr-1978',
 '02-Oct-2001',
 '09-Apr-2005',
 '14-Jul-1939',
 '24-Feb-1991',
 '15-Jan-2011',
 '13-Dec-1961',
 '19-Mar-1967',
 '11-Jul-1988',
 '08-Jan-1976',
 '29-Nov-1929',
 'Jul-1947',
 '11-Mar-1948',
 '24-Mar-1981',
 'Feb-1961',
 '05-May-2006',
 '25-Jul-1880',
 '21-May-1895',
 ' 11-Mar-1877',
 'Some time between 08-Jan-1928 & 21-Jan-1928',
 '08-Jun-2014',
 '20-Dec-2009',
 '01-Feb-1941',
 '02-Feb-1988',
 '28-May-1899',
 '25-Dec-1973',
 '11-Aug--2011',
 '14-Aug-1977',
 '26-Nov-1976',
 '2008.01.30',
 '30-Aug-1931',
 '24-Jan-2016',
 '19-Apr-1983',
 'Oct-1967',
 '13-Apr-2017',
 '27-Sep-2010',
 '16-Sep-1978',
 '26-Jan-1943',
 '28-Mar-1992',
 '10-May-2008',
 '18-Aug-1946',
 '22-Oct-2011',
 '03-Aug-1964',
 '06-Sep-1976',
 '27-Jan-2015',
 '11-Dec-1994',
 'Mar-1959',
 '04-Oct-1939',
 '21-Sep-2002',
 '17-Jun-1999',
 '06-Apr-2009',
 '07-Aug-1984',
 '13-Aug-2000',
 ' 21-Sep-2013',
 '12-Aug-1881',
 '29-Dec-1975',
 '2000',
 'Before 2004',
 '06-Nov-1994',
 'Reported 17-Feb-1877',
 '31-May-2016',
 '18-Apr-1975',
 '03-Jan-1989',
 '11-Mar-1980',
 '5-Apr-1971',
 '1930',
 '26-Sep-1959',
 '02-Jul-1932',
 'Late Jul-1959',
 'May 1982',
 '10-Aug-1932',
 '1974',
 '13-Sep-2002',
 '05-Oct-2015',
 'Reported 14-Apr-1928',
 '11-Nov-2002',
 '27-Jul-2005',
 '07-Apr-1968',
 '19-Jul-2010',
 '03-May-1933',
 '16-Sep-2001',
 '01-Jan-2002',
 '12-Jun-2007',
 '01-Nov-1959',
 '07-Dec-1959',
 '20-Jul-1969',
 '04-Jun-1930',
 '04-Jul-1958',
 '04-Jun-2016',
 '02-Nov-1904',
 'Before 1917',
 '11-Oct-2002',
 'Reported 02-Dec-1926',
 '10-Jun-2012',
 '28-Jul-1954',
 '07-Feb-1962',
 '01-Jun-2014',
 '12-Aug-1975',
 '03-Jun-2018',
 '18-May-2004',
 '21-Sep-1913',
 '05-Sep-1971',
 '10-Oct-1988',
 '25-Jun-2016',
 '09-Oct-2000',
 '05-Sep-2005',
 '31-Mar-1998',
 '08-Feb-2015',
 '28-Jul-1995',
 '26-Jun-2003',
 'Early Jul-1980',
 '09-Oct-1996',
 'Reported 27-Nov-1875',
 '11-Nov-1960',
 '16-Oct-1955',
 'Nov-1947',
 '28-Jan-1886',
 '23-Jan-2004',
 '25-Mar-1988',
 'Reported 04-Sep-1909',
 '1880-1899',
 'Reported May-28-1797',
 '27-Aug-2017',
 '02-Nov-1998',
 '09-Jan-1974',
 '09-Jul-1986',
 '15-Jul-1917',
 '10-Jul-1968',
 'Aug-2000',
 'Reported 21-Dec-1967',
 '01-Jun-2015',
 'Reported 02-Jun-2008',
 '25-Sep-1941',
 '23-Jul-2006',
 '17-Jun-1992',
 '09-May-2012',
 '31-Dec-2003',
 '06-Jan-1992',
 'Reported 09-Apr-2008',
 '27-Jun-2009',
 '07-Jan-2004',
 '12-Aug-2003',
 '08-Mar-1910',
 'Reported 03-Sept-1816',
 '15-Apr-2014',
 '18-Sep-1960',
 'Reported 08-Apr-1935',
 'Reported 06-Sep-1905',
 '29-Apr-1853',
 '28-Aug-2007',
 '24-Dec-1972',
 '12-Apr-1955',
 'Nov-1918',
 '29-Jun-1982',
 '26-Mar-1973',
 '02-Dec-1975',
 '02-Mar-1922',
 '02-Jul-1977',
 '13-Jan-2018',
 '22-Mar-2006',
 '10-Oct-2012',
 '08-Aug-1968',
 'Reported 26-Sep-1922',
 '16-Dec-2002',
 '15-Feb-1953',
 '13-Dec-1970',
 '03-Jul-2010',
 '06-Jan-1961',
 '05-Dec-1909',
 '21-Nov-1993',
 '29-Nov-1920',
 'July 1991',
 '02-Nov-2002',
 '26-Feb-1977',
 '17-Oct-1923',
 '19-Jul-1988',
 '03-Feb-1976',
 '03-Sep-1989',
 '24-Aug-1936',
 '09-Sep-1914',
 '9-Jul-2014',
 'Jul-1837',
 '15-Feb-2010',
 '03-Apr-1960',
 '21-Jun-1978',
 'Before 2006',
 '16-Sep-2011',
 'Reported 24-Jan-1877',
 'Sep-1864',
 'Reported 17-Mar-2009',
 '06-Sep-2012',
 'Jul-1905',
 '16-Jul-1968',
 '27-Mar-1913',
 '12-Mar-2014',
 'Jan-1969',
 '14-Jul-1996',
 '19-Jun-1979',
 '04-Mar-1956',
 'Apr-1966',
 '27-Jul-2015',
 '03-Feb-2018',
 '25-Jul-1983',
 '20-Nov-1899',
 '20-Jul-2002',
 '30-Jun-2003',
 '06-Apr-2017',
 '01-Sep-1937',
 '22-Sep-1962',
 'Reported 02-Jul-1954',
 '2004',
 '02-Mar-2000',
 '1898 (soon after the close of the Spanish-American War)',
 'Reported 28-Jan-1998',
 '17-May-2009',
 '02-Nov-1975',
 '22-May-1905',
 '27-Jun-1954',
 'Aug-1995',
 '04-Apr-1929',
 '14-Jan-1966',
 'Reported 16-Jun-1851',
 '17-Oct-1984',
 '22-May-2002',
 '28-Apr-1988',
 '10-Mar-1968',
 'Reported 31-Dec-1955',
 '05-Jun-1989',
 '07-Feb-2008',
 '08-Nov-1947',
 '25-Jan-2007',
 '24-Feb-2018',
 'Reported 23-Jan-1832',
 '26-Sep-1993',
 '26-Dec-1948',
 '15-Jun-2006',
 '06-Oct-1962',
 'Mar-1961',
 'Aug-1964',
 '25-Jul-1896',
 '14-Jun-2015',
 '30-May-2017',
 '21-Apr-2003',
 '17-Aug-2010',
 '12-Jan-1996',
 '27-Jul-1968',
 '16-Feb-1959',
 '12-Mar-2013',
 '13-Jan-2013',
 '28-Mar-2004',
 '01-Jan-1962',
 '04-Apr-1953',
 '07-Oct-1959',
 '16-Dec-1951',
 'Reported 29-Nov-2005',
 ...}

In [390]:
set(list(tiburon_clean["type"].unique()))

{'Boat',
 'Boating',
 'Boatomg',
 'Invalid',
 'Provoked',
 'Questionable',
 'Sea Disaster',
 'Unprovoked',
 nan}

In [389]:
set(list(tiburon_clean["country"].unique()))

{' PHILIPPINES',
 ' TONGA',
 'ADMIRALTY ISLANDS',
 'AFRICA',
 'ALGERIA',
 'AMERICAN SAMOA',
 'ANDAMAN / NICOBAR ISLANDAS',
 'ANDAMAN ISLANDS',
 'ANGOLA',
 'ANTIGUA',
 'ARGENTINA',
 'ARUBA',
 'ASIA?',
 'ATLANTIC OCEAN',
 'AUSTRALIA',
 'AZORES',
 'BAHAMAS',
 'BAHREIN',
 'BANGLADESH',
 'BARBADOS',
 'BAY OF BENGAL',
 'BELIZE',
 'BERMUDA',
 'BRAZIL',
 'BRITISH ISLES',
 'BRITISH NEW GUINEA',
 'BRITISH VIRGIN ISLANDS',
 'BRITISH WEST INDIES',
 'BURMA',
 'Between PORTUGAL & INDIA',
 'CANADA',
 'CAPE VERDE',
 'CARIBBEAN SEA',
 'CAYMAN ISLANDS',
 'CENTRAL PACIFIC',
 'CEYLON',
 'CEYLON (SRI LANKA)',
 'CHILE',
 'CHINA',
 'COLUMBIA',
 'COMOROS',
 'COOK ISLANDS',
 'COSTA RICA',
 'CRETE',
 'CROATIA',
 'CUBA',
 'CURACAO',
 'CYPRUS',
 'Coast of AFRICA',
 'DIEGO GARCIA',
 'DJIBOUTI',
 'DOMINICAN REPUBLIC',
 'ECUADOR',
 'EGYPT',
 'EGYPT ',
 'EGYPT / ISRAEL',
 'EL SALVADOR',
 'ENGLAND',
 'EQUATORIAL GUINEA / CAMEROON',
 'FALKLAND ISLANDS',
 'FEDERATED STATES OF MICRONESIA',
 'FIJI',
 'FRANCE',
 'FRENCH POLYNESIA',
 'Fiji',
 'GABON',
 'GEORGIA',
 'GHANA',
 'GRAND CAYMAN',
 'GREECE',
 'GREENLAND',
 'GRENADA',
 'GUAM',
 'GUATEMALA',
 'GUINEA',
 'GULF OF ADEN',
 'GUYANA',
 'HAITI',
 'HONDURAS',
 'HONG KONG',
 'ICELAND',
 'INDIA',
 'INDIAN OCEAN',
 'INDIAN OCEAN?',
 'INDONESIA',
 'IRAN',
 'IRAN / IRAQ',
 'IRAQ',
 'IRELAND',
 'ISRAEL',
 'ITALY',
 'ITALY / CROATIA',
 'JAMAICA',
 'JAPAN',
 'JAVA',
 'JOHNSTON ISLAND',
 'KENYA',
 'KIRIBATI',
 'KOREA',
 'KUWAIT',
 'LEBANON',
 'LIBERIA',
 'LIBYA',
 'MADAGASCAR',
 'MALAYSIA',
 'MALDIVE ISLANDS',
 'MALDIVES',
 'MALTA',
 'MARSHALL ISLANDS',
 'MARTINIQUE',
 'MAURITIUS',
 'MAYOTTE',
 'MEDITERRANEAN SEA',
 'MEXICO',
 'MEXICO ',
 'MICRONESIA',
 'MID ATLANTIC OCEAN',
 'MID-PACIFC OCEAN',
 'MONACO',
 'MONTENEGRO',
 'MOZAMBIQUE',
 'NAMIBIA',
 'NETHERLANDS ANTILLES',
 'NEVIS',
 'NEW BRITAIN',
 'NEW CALEDONIA',
 'NEW GUINEA',
 'NEW ZEALAND',
 'NICARAGUA',
 'NICARAGUA ',
 'NIGERIA',
 'NORTH ATLANTIC OCEAN',
 'NORTH ATLANTIC OCEAN ',
 'NORTH PACIFIC OCEAN',
 'NORTH SEA',
 'NORTHERN ARABIAN SEA',
 'NORTHERN MARIANA ISLANDS',
 'NORWAY',
 'OCEAN',
 'OKINAWA',
 'PACIFIC OCEAN',
 'PACIFIC OCEAN ',
 'PALAU',
 'PALESTINIAN TERRITORIES',
 'PANAMA',
 'PAPUA NEW GUINEA',
 'PARAGUAY',
 'PERSIAN GULF',
 'PERU',
 'PHILIPPINES',
 'PORTUGAL',
 'PUERTO RICO',
 'RED SEA',
 'RED SEA / INDIAN OCEAN',
 'RED SEA?',
 'REUNION',
 'REUNION ISLAND',
 'ROATAN',
 'RUSSIA',
 'SAMOA',
 'SAN DOMINGO',
 'SAUDI ARABIA',
 'SCOTLAND',
 'SENEGAL',
 'SEYCHELLES',
 'SIERRA LEONE',
 'SINGAPORE',
 'SLOVENIA',
 'SOLOMON ISLANDS',
 'SOLOMON ISLANDS / VANUATU',
 'SOMALIA',
 'SOUTH AFRICA',
 'SOUTH ATLANTIC OCEAN',
 'SOUTH CHINA SEA',
 'SOUTH KOREA',
 'SOUTH PACIFIC OCEAN',
 'SOUTHWEST PACIFIC OCEAN',
 'SPAIN',
 'SRI LANKA',
 'ST HELENA, British overseas territory',
 'ST. MAARTIN',
 'ST. MARTIN',
 'SUDAN',
 'SUDAN?',
 'SWEDEN',
 'SYRIA',
 'Seychelles',
 'Sierra Leone',
 'TAIWAN',
 'TANZANIA',
 'TASMAN SEA',
 'THAILAND',
 'THE BALKANS',
 'TOBAGO',
 'TONGA',
 'TRINIDAD & TOBAGO',
 'TUNISIA',
 'TURKEY',
 'TURKS & CAICOS',
 'TUVALU',
 'UNITED ARAB EMIRATES',
 'UNITED ARAB EMIRATES (UAE)',
 'UNITED KINGDOM',
 'URUGUAY',
 'USA',
 'VANUATU',
 'VENEZUELA',
 'VIETNAM',
 'WEST INDIES',
 'WESTERN SAMOA',
 'YEMEN',
 'YEMEN ',
 nan}

In [387]:
set(list(tiburon_clean["activity"].unique()))

{nan,
 'Collecting marine specimens',
 'Fishing, slipped on rocks & fell into sea',
 'The troopship Britannia was sunk by the German raider Thor',
 'Swimming on surface',
 'Swimming to shore from capsized sailboat',
 'Free diving / photography, kneeling on sand',
 'Boat, with 42 passengers onboard, capsized in rough seas',
 'Fishing / Wading',
 'Fishing boat capsized ',
 'Swimming or surfing',
 'Fishing from prawn trawler',
 'Swept out to sea while fishing',
 'The Ward liner Esperanza stranded during a gale & she leapt overboard to rescue her dog which had been swept overboard.',
 'Fishing for bottom fish',
 'Attempting to drive shark from area',
 'Put foot inside mouth of supposedly dead shark',
 'Spearfishing using scuba',
 'Casting a net',
 'Fishing, wading with string of fish',
 'Goggle-diving for seaweeds, but standing in water',
 'Scuba Diving',
 'Paddling outrigger canoe',
 'Body found on deserted luxury yacht, 38\x92 Christine',
 'Working near fish traps',
 'Standing / fishing',
 'Bathing',
 'Pulling hooked salmon to boat',
 'Washing cooking pans',
 'Fishing for turtles',
 'Washed overboard',
 'Diving',
 'Sitting on gunwale of boat',
 'Swimming along side N.E.L. vessel Saluda',
 'Scuba diving, reportedly also spearfishing',
 'Spearfishing, holding mesh bag with speared fish',
 'Swimming after boat became disabled',
 'Free diving & spearfishing',
 'Swimming /  boogie boarding',
 'Commercial spearfishing',
 'Walking in chest-deep water',
 'Cargo ship Dara sank after collision with another ship during a severe storm',
 'H.M.S. Cornwall & H.M.S.Dorsetshire sunk by Japanese dive bombers. Officers & men in the water formed a circle with 60 of their dead in the center for 36 hours',
 'yachting accident',
 'Diving from canoe',
 'Rescuing',
 '14 m prawn trawler New Venture capsized  & sank in heavy seas Three people in the water',
 'Attempting to remove fishing net from submerged object',
 'Standing, stepped on shark',
 'Spearfishing, but standing in the water',
 'Spearfishing (but on surface)',
 'Swimming, poaching abalone',
 'cargo ship Southern Isle sank at 04h00',
 'Tzenny Chandris, a Greek freighter laden with scrap iron, foundered in heavy weather',
 'Towing rubber dinghy',
 'Racing ski',
 'Hardhat diving',
 'Standing on sandbar',
 'Surfing (pneumatic surfboard)',
 'Ferry boat sank',
 'Fell off banana boat',
 'Filming',
 'American cruiser Indianapolis torpedoed & sunk by the Japanese submarine I-58',
 'Scuba diving (ascending using scooter)',
 'Adrift on life raft',
 'The Dwarka foundered',
 'Treading for clams',
 'Collecting fish by lamplight in gully',
 'Playing with a frisbee in the shallows',
 'Small boat swamped, 4  people swimming to shore but he fell behind the other 3 and vanished',
 'Boogie Boarding',
 'Standing alongside surfboard',
 'Two canoes with 14 aboard blown to sea in a storm. While adrift for 3 week, one person fell overboard and was killed by a shark',
 'Free diving for shell',
 'In boat being towed by ship, Karnak',
 'Sleeping in anchored boat',
 'Fishing (Drowned 2-Apr-2002)',
 'Fell from the jetty',
 'Treading water while alongside capsized yacht',
 'Harassing a shark',
 'Spearfishing on Scuba',
 'Tech diving ',
 'Boat Miss Becky  sank 12 miles from shore',
 'Swimming, poaching perlemoen',
 'Removing shark from tank in nightclub ',
 'Lifeboat capsized',
 'Feeding stingrays?',
 "Fishing - 'tag & release'",
 'Wading to shore from his boat',
 'Wading / fishing & carrying a bag of fish',
 'Sitting in the water',
 'Floating or standing',
 'Rowing',
 'A dhow capsized',
 'Walking in surf',
 'Fishing from dory, shark upset boat & he fell into the water',
 'Diving for crayfish',
 'Free diving for sinkers',
 'S.S. Ramos foundered in a hurricane. Captain & 14 crew in water-logged lifeboats. ',
 'Fell overboard?',
 'Crabbing (spearing crabs)',
 'Dragging stranded shark into deeper water',
 "Captured Allied soldiers were squeezed into 3' bamboo pig baskets & fed to waiting sharks",
 'Fishing for bluefish',
 'Bathing ',
 'Placed hand in disemboweled shark\x92s jaws',
 'Fishingat',
 'Swimming, towing a kayak',
 'Swimming & splashing',
 'Fishing from rocks, swept out to sea by large wave & treading water',
 'Bitten after dhow shipwrecked',
 'Swimming after their boat capsized',
 'Spearfishing, carrying his catch',
 'Spearfishing, free diving, possibly ascended into path of cruising shark',
 'Known as The Battle of the Bismarck Sea :  8 Japanese destroyers guarding a convoy of 8 transports were attacked by 129 Allied fighters, 207 bombers & 3 squadrons of the Royal Australian Air Force. ',
 'Surfing, but lying prone on his board',
 'Diving, feeding sharks',
 'Collecting shells',
 'Free diving for trochus',
 'Swimming & snorkeling',
 'Attacked shark with fists',
 'Shipwrecked',
 'Watching the shark feeding on a dead pinniped',
 'Floating with life buoy after pilot launch capsized',
 'Playing on a sandbar',
 'Swimming between  anchored  pearling luggers',
 'Returning to shore, collided with shark',
 'German raider Kormoran was sunk in an engagement with HMAS Sydney',
 'Diving off wharf',
 'Fell overboard ',
 'Diving from dinghy for trochus shell',
 'Lying atop surfboard',
 'Free diving for abalone (surfacing)',
 'Swimming, after boat swamped',
 'Free diving / Spearfishingat edge of reef',
 'Swimming/',
 'Wreck of the 1308-ton Norwegian ship Auckland',
 'ship M.V. Rizal sank during typhoon',
 'Skin diving ',
 'Swimming from naptha launch after a day of fishing',
 'Attempting to rescue drowning man',
 'Swimming, after falling overboard',
 'Paddle boarding',
 'Dragging banana seeds through the shallows',
 'Reaching for life preserver',
 'Night diving',
 'Free diving  & spearfishing (submerged)',
 'Walking / surfing',
 'Swimming to avoid capture',
 'Slipped off rocks and fell into the water',
 'Swimming / snorkeling',
 'Fishing, holding fish in his left hand',
 'Oystering',
 'Body found floating next to his ship',
 'Rowing a dinghy',
 'Collecting dynamited fish',
 'Attempted to return injured shark to the sea',
 'Photographing sharks underwater using Scuba',
 'Towing her sister on plastic ski board',
 'Scuba diving for abalone',
 'Leaving the water',
 'Standing, holding shark pup',
 'Free diving, collecting shells',
 'During "an exhibition" he was tied in sack & thrown overboard ',
 'Swimming underwater from crayfish cage to a fishing bait',
 'Fishing, fell in water & swimming strongly to shore',
 'Hand lining for shad',
 'Kite boarding',
 'Wreck of the steamship Birkenhead',
 'Longline fishing for sharks',
 'Attempting to drive shark away from the beach',
 'Bitten while cutting shark from net',
 'Swimming ashore from swamped 13-ft boat',
 'Canoe with 3 men onboard sank',
 'Fleet of canoes caught by a squall and charged by sharks.',
 'Fell overboard from USS Ward',
 'Sailboarding, fell into water 100 yards outside the breakwater',
 'Splashing in surf',
 'Scuba diving in aquarium tank',
 'Surfing (sitting on his board)',
 'Spearfishing, shark grabbed his white t-shirt and towed him ',
 'On December 28, 1908, an earthquake, followed by tsunamis, destroyed coastal towns in Silcily and southern Italy, killing more than 100,000 people',
 'Fisherman',
 'Fishing for perch',
 'Tagging sharks',
 'Diving for Abalone',
 'Defecating in water beneath the docks',
 'Board sailing',
 'Surfing (or body boarding)',
 'Anti-Aircraft cruiser USS Atlanta (CL,-05) travelling in convoy after the Battle of Midway, encountered a Japanese flotilla  (Battle of Guadalcanal) &, heavily damaged by gunfire, she was lost off Lunga Point. Victim was swimming when bitten.',
 'Fishing, sitting in stern of small boat, feet dangling in the water',
 'Spent 8 days in dinghy',
 'Floating on air mattress',
 'Spearfishing using scuba & trailing a string of bleeding fish',
 'A junk foundered',
 "Days before the surrender of Singapore, the 3 men escaped to Sumatra where they acquired a 17' dinghy. After 125 days at sea they drifted back to Sumatra",
 'Steamer Una wrecked with 75 laborers onboard. Survivors took to rafts & lifeboats.',
 'Wading, knocked down & swept away by large waves',
 'The 3540-ton Alfonso Penna was torpedoed & sunk by the Italian submarine Barbarigo',
 'Pulling anchor',
 'Sea disaster, wreck of the Alfred Watts',
 'Cleaning fish',
 'Free diving, working on U/W scenes for motion picture',
 'Swimming (lead swimmer in race)',
 "Bathing in 3' to 4' of water",
 'Lobster diving using Scuba',
 'Jumped or fell overboard',
 'Swimming with motor tube',
 'Painting a ship',
 'Air Disaster - Piper aircraft crashed into the sea, killing all on board',
 'Body-boarding',
 'Free diving for abalone from Zodiac (submerged)',
 'Floating on his back in an inner tube',
 'Crossing river on a raft',
 'Body surfing, stood up on sandbar',
 'boat capsized',
 'On expedition filming a feature movie & standing on tripod',
 'The World Liberty and the tanker Mosli collided. The  Halcyon Breeze sent a lifeboat to the rescue, but it was smashed, throwing 6 men in the  water.',
 'Trailing hand in the water',
 'Skin diving',
 "Lying on the bottom of a 16' dinghy",
 'Diving on a wreck',
 'boat from ship Josephine capsized in squall',
 'Drift fishing',
 'The 21,516-ton troopship Empress of Canada torpedoed and sunk by the Italian submarine Leonardo da Vinci',
 ' a canoe was pursuing a schooner that had forcibily abducted 5 young girls',
 'Resting on body board',
 'Swimming with goggles',
 'Swimming close to wharf',
 'Diving (shell maintenance)',
 'Jerked overboard while pole fishing for tuna',
 "Fishing, removing gaff from shark's mouth",
 'Helmet diving, collecting trochus shell',
 'Fishing, holding fish in right hand',
 'Fishing, standing in water next to purse net',
 'Fishing for yellowtail, Seriola quinqueradiata',
 'Bathing in knee-deep water',
 'Kayak fishing',
 'Fishing for basking sharks',
 'Slapped shark on tail as it swam by',
 'Dived overboard to check propeller of US Navy motor torpedo boat',
 'Spearfishing, but swimming on surface',
 'Skindiving,',
 'Standing in chest-deep water',
 'Playing',
 'Fishing for squid',
 'Fell off surf ski',
 'Free diving for abalone (submerged)',
 'Walking',
 'The 6015-ton British ship Empire Avocet was torpedoed by the German submarine U-125. ',
 'Fishing boat swamped in a storm',
 'Floating on an inflatable raft',
 'Playing volleyball with friends',
 'Fishing, walking in river to cast',
 'Swimming to shore with floatioon devices after boat engine conked out',
 'Parachuted into Pacific',
 'Standing, collecting sea stars',
 'Scuba diving, but swimming on surface',
 'Feeding fish',
 'Snorkeling, carrying a speared fish in her hand',
 'Sitting on surfboard',
 "Diving, repairing water main at depth of 90'",
 'The shrimper Loless Maurine capsized in heavy seas & the men were swimming ashore  ',
 'Pearl diving',
 'Fishing from boat, Kaimamla',
 'Surfing, paddling seawards',
 'Spearfishing, shot shark, hauled it onto boat',
 'Fishing for tunny',
 'Paddling rescue ski',
 'Fishing boat swamped in storm',
 'Working on the bridge when he fell into the river',
 'Fishing for mackerel',
 'Splashing / wading',
 'Air/Sea Disaster involving C-54 Air Force Transport No. 2686 with 37 on board',
 'Netting pilchards',
 'Boat capsized?',
 '"Boat accident"',
 'Dived into a school of baitfish',
 'Went overboard',
 'Kite surfing',
 'Bodyboarding',
 'Windsurfing, but sitting on his board',
 'Fishing & spearfishing',
 'Bathing / standing',
 'Spearfishing, carrying fish on belt',
 'R5D aircraft went down with 29 on board',
 'Conducting research',
 "Attempting to lasso shark's tail",
 'Fell overboard & rescuer',
 'wreck of the State Oil Company ship Permina',
 'Hardhat diving from Japanese pearling lugger, Reiyo Maru',
 'Shipwrecked Persian Fleet',
 'Shipwrecked; adrift on raft for 2 days & 2 nights',
 'Fishing boat',
 'Walking out of the water after surfing',
 'Chumming for white sharks',
 'Watching seals',
 'Swimming underneath house on pilings',
 'Fishing from paddleski',
 'Chumming for sharks',
 'Canoe capsized with 10 occupants, 8 survived,  Hamilton swam off to seek help',
 'Washing his feet',
 'Wreck of the Aphrodite',
 'Surfing (lying prone on his board)',
 'Harpooning turtles',
 'Wading & pushing dinghy toward  the shallows',
 'Shrimping',
 'Attempting to attract dolphins',
 'Moving a shark in a net ',
 'Landing hooked shark in boat',
 'Kite-Boarding',
 'Washing sand off a speared fish',
 'Swimming in fish tank',
 'Hospital Ship Centaur torpedoed & sunk by the Japanese submarine I-177',
 'Capsized fishing boat',
 'Sinking of the dredge World Atlas',
 'Fishing from Surfboard',
 'Helmet diving',
 'Ship lay at anchor & man was working on its rudder',
 'The USS Wahoo torpedoes & sank the Japanese troop transport Buyo Maru',
 'Diving & force-feeding the shark',
 'Lost his footing & fell overboard',
 'Body surfing?',
 'Fishing with hand line tied to wrist & was pulled into the water',
 'Attempting to net shark in shark channel',
 'Fishing, on a boat',
 'Batin',
 'Fishing, standing in waist-deep water',
 'Vessel capsized, wading ashore carrying an oar',
 'Filming & feeding captive sharks',
 'Holding onto an inflatable boat',
 'Jumping in the waves',
 '3,909-ton Panamanian freighter Chieh Lee sank in a typhoon',
 'pêcheur de bichiques',
 'Swimming',
 'Swimming between boats',
 'Overturned skiff',
 'Shark diving',
 'Picking up shark by the tail',
 'Fell from wharf into water & attacked immediately',
 'Fishing, attempted to take a netted shark',
 'Sea disaster, wreck of the sloop Sara',
 'Fishing from dinghy',
 'Swimming outside fishing net',
 'Killing a shark',
 'Shell Diving',
 'Hoisting shark aboard fishing boat',
 'Swimming to shore after boat capsized by a squall',
 'Stand-Up Paddleboarding',
 'Floating with life preserver after his boat foundered',
 'Gaffing & attempting to bring onboard a harpooned shark',
 'Swimming, carrying tin can with mail to steamer',
 'SUP Foil boarding',
 'Fishing inside net',
 "Bathing in 5' of water",
 'Free diving / spearfishing, ',
 'Underwater photography',
 'Rescuing seaman after ship sunk by German raider',
 'Surfing',
 "40' fishing boat sank",
 'Fishing for red fish',
 'Fishing ',
 'The Pacquebot Laconia, enroute to Liverpool with 600 Italian prisoners onboard, was torpedoed by the German submarine  U-156 and only 2 rafts were launched before the ship went down. Unable to board an overcrowded raft, he was swimming.',
 'Shooting sharks ',
 'Spearfishing, had fish on his spear',
 'Fell into the water',
 'Yacht Gooney Bird foundered, 4 survivors on raft',
 'Swimming, towing the shark',
 'Observing a shark feeding on a carcass of a humpback whale',
 'Catching crabs',
 'Riding a horse',
 'Swimming from capsized pirogue',
 'Ship Mariston torpedoed & sunk',
 'Fishing, tossing netted shark onboard',
 'Swimming in midriver near sewage outlet & 400 m from a slaughterhouse',
 'Ejected from F3H-2 aircraft ',
 'Survived crash of two-engine  C-46 transport plane carrying 62 migrant workers from Puerto Rico to USA ',
 'Dived overboard to retrieve dinghy',
 'Surfing amid a shoal of sharks',
 'Fishing, removing the shark from his line',
 "Lying prone in 2' of water",
 'Swimming (recovering remains of Stilwell) ',
 'Moving shark from tuna vessel when boat rolled, placing both man & shark in chest-deep water',
 'Diving / UW photography',
 'Hunting sharks',
 'Diving ',
 'In deep water about 100 yards from his ship',
 'Walking in shallows',
 'Swimming / floating',
 'U-177 torpedoed & sank the troopship Nova Scotia',
 'Dived into the water',
 'Watching seine netters with friends, one of whom picked up a netted shark',
 'Sea Disaster',
 'Hookah diving',
 'Surf skiing',
 'Lying in 2 feet of water',
 'Treading water after survivng crash of the US Navy airship K-74 that was hit by the German submarine U-134',
 'Boat',
 'Surfing, pushing board ashore',
 'Jumped off rocks into white water',
 'Bottom fishing for lingcod & had hooked a fish',
 'Attempting to set underwater endurance record',
 "Diving in Sharkey's Reef restaurant\x92s aquarium",
 'Swimming near his boat',
 'Surfing, fell off surfboard & stepped on the shark.',
 'A 75-ton  Japanese fishing ship was sunk by  Chinese Nationalist gunboat, shipwrecked men were clinging to debris',
 'Collecting aquarium specimens',
 'British ship, Britannia,  was loading lumber. He was bathing',
 'Fishing, thrown into water by heavy sea, clinging to rocks at the water line',
 'Swimming near canoe',
 'Diving?',
 'Standing / Surfing',
 'boat with 46 people on board capsized',
 'Reviving a sedated shark',
 'Floating face-down in knee-deep water',
 'Hard hat diving',
 "Fell off surfboard 20' from shore",
 "Explosion destroyed 28' boat, survivors in the water ",
 'Attempting to rescue an injured & beached shark',
 'Boat capsized, swimming ashore',
 'Swimming near jetty',
 'Surfing or body surfing',
 'Grabbing shark for a selfie',
 'Tandem surfing',
 'Diving for shells, saw shark circling wife near the surface, intercepted shark & it pulled him beneath the water',
 'Fishing, speared shark upset canoe & man fell in water',
 '"Climbing up to ship after repairing the stern in water"',
 'Dog paddling or standing',
 'SCUBA diving',
 'Bather',
 'Swimming from shore to anchored sailboat',
 'British cruiser Dunedin torpedoed & sunk by the U-124',
 'U.S. Airforce C124 enroute from Hickham Air Base to Japan went down. The 3 survivors fashioned raft from mailbags  & were rescued 3 days after the crash.',
 'Washed off catamaran in the surf',
 'Wade Fishing',
 'Fell overboard from US Navy PC boat',
 'Swimming out to rescue swimmers in difficulty',
 'Catching a turtle',
 'Surfing / Swimming',
 'Adrift after wave swamped engine',
 'Floating on inner tube after diving for lobster',
 'Free diving & spearfishing (descending)',
 'Steinhart Aquarium',
 'Scuba Diving for scallops',
 'Washing his pig in preparation for a religious ceremony',
 'Swimming naked near a date palm where many dates fell into the water',
 'Swimming ashore from capsized boat',
 'Sculling',
 'Floating in inner tube',
 'Attempting to ride a shark',
 'Swimming ashore after launch capsized',
 'Suicide',
 'Standing, collecting bananas',
 'Jumped overboard and swimming',
 'Fishing from a kayak',
 'Fishing / standing in waist deep water',
 'Jumped overboard to rescue companion',
 'Skindiving for abalone (but at surface)',
 'The SS Potlach was torpedoed & sunk by the U-153 on 27-Jun-1942. ',
 'Vessel caught fire & capsized, survivors in the water',
 'Disappeared 11 days earlier, probable homicide victim',
 'Fell overboard from the Sobella',
 'Competing in a light tackle game fishing',
 'Hard hat diving, laying some charge of powder',
 'Checking fish traps, fell into the water',
 "Adrift on a 4'  raft for 32 days",
 'Cutter capsized',
 'The passenger ship Kapuna was run down the ore carrier Ada Melmore',
 'Sailing on catamaran & fell into the water',
 'Restraining a beached shark',
 'Photographing fish',
 'Shark hoisted on board liner Tahiti',
 'Jumped into the water from a cliff',
 'Inspecting teeth of supposedly dead (hooked & shot) shark',
 'Climbing back on ship',
 'Fishing, hauling in a 5-lb snapper',
 'Bringing hooked, harpooned shark onboard boat',
 'Setting crayfish pots',
 'ship William Penn grounded & broke apart',
 '4 men were bathing',
 'Diving for beche-de-mer',
 'Diving around anchored liner',
 '2 boats capsized',
 'Snorkeling',
 'Free diving for scallops',
 'Feeding a shark',
 'Attempting to anesthetize shark',
 'Wreck of the USS Somers',
 'After rowing skiff was holed by shark, he was attempting to swim ashore',
 'Fell overboard from P&O steamship Arabia',
 'Surfing & dangling foot in water amid baitfish',
 'Collecting beche-de-mer',
 'Fleeing across a river',
 'Launching rowboat through the surf',
 'Testing movie camera in full diving dress',
 'Murder',
 'Fishing for bluefish, shark leapt into dory',
 'Scuba diving, hand feeding sharks',
 'Playing in knee-deep water',
 'Swimming on sandbar adjacent to channel',
 'Swimming in hip-deep water',

In [405]:
# Here we changed all the nan to the word we wanted
tiburon_clean.sex.fillna("unknow",inplace=True)

In [410]:
# here we modified one speceific column with the info we want, getting rid of spaces
tiburon_clean.sex = tiburon_clean.sex.str.strip()

In [412]:
# we make a dict with the key an value that we want to change
cleandict = {".":"unknow","lli":"unknow","N":"M"}
tiburon_clean.sex = tiburon_clean.sex.replace(cleandict)

In [413]:
set(list(tiburon_clean["sex"].unique()))

{'F', 'M', 'unknow'}

In [385]:
set(list(tiburon_clean["age"].unique()))

{' ',
 '  ',
 ' 28',
 ' 30',
 ' 43',
 '"middle-age"',
 '"young"',
 '(adult)',
 '1',
 '10',
 '10 or 12',
 '11',
 '12',
 '12 or 13',
 '13',
 '13 or 14',
 '13 or 18',
 '14',
 '15',
 '16',
 '16 to 18',
 '17',
 '17 & 16',
 '17 & 35',
 '18',
 '18 months',
 '18 or 20',
 '18 to 22',
 '19',
 '2 to 3 months',
 '20',
 '20 ',
 '20?',
 '20s',
 '21',
 '21 & ?',
 '21 or 26',
 '21, 34,24 & 35',
 '22',
 '23',
 '23 & 20',
 '23 & 26',
 '24',
 '25',
 '25 or 28',
 '25 to 35',
 '26',
 '27',
 '28',
 '28 & 26',
 '28, 23 & 30',
 '29',
 '2½',
 '3',
 '30',
 '30 & 32',
 '30 or 36',
 '30s',
 '31',
 '31 or 33',
 '32',
 '32 & 30',
 '33',
 '33 & 26',
 '33 & 37',
 '33 or 37',
 '34',
 '34 & 19',
 '35',
 '36',
 '36 & 23',
 '36 & 26',
 '37',
 '37, 67, 35, 27,  ? & 27',
 '38',
 '39',
 '40',
 '40s',
 '41',
 '42',
 '43',
 '44',
 '45',
 '45 ',
 '46',
 '46 & 34',
 '47',
 '48',
 '49',
 '5',
 '50',
 '50 & 30',
 '50s',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '6',
 '60',
 "60's",
 '60s',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '6½',
 '7',
 '7      &    31',
 '7 or 8',
 '70',
 '71',
 '72',
 '73',
 '74',
 '74 ',
 '75',
 '77',
 '78',
 '8',
 '8 or 10',
 '81',
 '82',
 '84',
 '86',
 '87',
 '9',
 '9 & 12',
 '9 months',
 '9 or 10',
 '>50',
 '?    &   14',
 '? & 19',
 'A.M.',
 'Both 11',
 'Ca. 33',
 'Elderly',
 'F',
 'MAKE LINE GREEN',
 'Teen',
 'Teens',
 'X',
 'adult',
 'mid-20s',
 'mid-30s',
 nan,
 'teen',
 'young',
 '\xa0 '}

In [384]:
set(list(tiburon_clean["fatal"].unique()))

{' N', '2017', 'M', 'N', 'N ', 'UNKNOWN', 'Y', nan, 'y'}